.containerServicios{
    margin-top: 0px;
    display: flex;
    font-family: flame;
    width: 79%;
    margin-left: 11%;
}
.divServicios{
    width: 50%;
}
.divServicios p{
    color: #003F5A;
    width: 80%;
    font-size: 48px;
}
.divButton{
    width: 50%;    
    text-align: right;
}
.btnServicios{
    border-radius: 5px;
    margin-top: 16%;
    width: 80%;
    height: 60px;
    font-family: flame;
    font-size: 18px;
    color: #003F5A;
    border-color: #003F5A;
    background-color: white;
}
.containerEstetica{
    position: relative;
    display: flex;
    width: 80%;
    gap: 2%;
    margin-left: 10%;
    
}
.esteticaCard{
    width: 100%;    
}

.esteticaCard h3{
    font-family: flame;
    color: #003F5A;
}

.esteticaCard img{
   width: 250px;
   height: auto;
}

.esteticaCard p{
    max-width: 100%;
    color: gray;
    margin: 0px;
    font-family: poppins;
    font-size: 13px;
}
.esteticaCard img{
    width: 100%;
}
#btnCarrusel{
    position: absolute;
    border-radius: 70%;
    height: 50px;
    width: 50px;
    background-color: #DE6600;
    border: none;    
    transform: translate(1055px,110px);
}