.containerServicios{
    margin-top: 0px;
    display: flex;
    font-family: flame;
    width: 79%;
    margin-left: 11%;
}
.divServicios{
    width: 50%;
}
.divServicios p{
    color: #003F5A;
    width: 80%;
    font-size: 48px;
}
.divButton{
    width: 50%;    
    text-align: right;
}
.btnServicios{
    border-radius: 5px;
    margin-top: 16%;
    width: 80%;
    height: 60px;
    font-family: flame;
    font-size: 18px;
    color: #003F5A;
    border-color: #003F5A;
    background-color: white;
    transition: all 0.3s ease;  
}
.btnServicios:hover{
    transform: scale(1.05);
    background-color: #b2c5cd;
}
.containerEstetica{
    position: relative;
    display: flex;
    width: 80%;
    gap: 2%;
    margin-left: 10%;
    overflow: hidden;
}
.esteticaCard{
    width: 100%;    
}

.esteticaCard h3{
    font-family: flame;
    color: #003F5A;
}

.esteticaCard img{
   width: 250px;
   height: auto;
}

.esteticaCard p{
    max-width: 100%;
    color: gray;
    margin: 0px;
    font-family: poppins;
    font-size: 13px;
}
.esteticaCard img{
    width: 100%;
}
.carruselEstetica{
    width: 300vw; /* o 300vw */
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: .7%;
    animation: slide 20s infinite ease-in-out !important;
}
.carruselEstetica li{
    position: relative; 
    width: 19vw; 
    display: flex;
    flex-shrink: 0;
}
@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -80vw; }
    45% { margin-left: -80vw; }    
    100% { margin-left: -80vw; }     /* bucle completo */
}
