nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navBtn{
    width: 90%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    font-size: 90%;
}

.carrito{
    width: 100%;
    margin-right: 90px;
    transform: translateX(-10%);
}
.arriba{
    background-color: #003f5a;    
    height: 40px;
    width: 100%;
}
.medio{
    display:flex;    
    background-color: #ebd9c8;   
    align-items: center;
    gap: 10px;
    height: 100px;
    width: 100%;
    gap: 60px;
}
.abajo{
    background-color: #007a7a;    
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: flame;
}
.abajo a{
    text-decoration: none;
    color: white;
}
.logoNav{
    width: 20%;
    height: auto;
}
.buscadorDiv{
    width: 50%; 
    display: flex;   
    justify-content: center;
}
.buscador{
    width: 75%;
    padding: 10px;
    font-family: Poppins;
    border-radius: 30px;
    border-color: white;
    border-style: none;          
}
.buscador input{
    border-color: white;
    border-style: none;
    
}
.navDiv{
    display: flex;
    align-items: center;
    font-family: Poppins;
    color: #003f5a;  
    flex-direction: column;   
    
}
.navDiv img{
    width: 50%;        
    height: 50%;
}
.navDiv a {
    text-decoration: none;
    color:#003f5a;
}
.navDiv a:hover{
    color: #007a7a;
}
.accesoDirecto{
    display: flex;
}
.abajo a:hover{
    color: #ebd9c8;
}
.miCuentaBtn{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    font-size: 90%;
}