.titleSection{
    display: flex;
    font-family: Poppins;
    color: #de6600;
    font-size: 20px;
    margin-top: 3%;
    align-items: center;
    margin-left: 10%;
    gap: 10px;
}
.titleSection2{
    display: flex;
    font-family: Poppins;
    color: #de6600;
    font-size: 20px;
    margin-top: 0%;
    align-items: center;
    margin-left: 10%;
    gap: 10px;
}
.seccionProducts{
    font-family: poppins;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 10%; 
    box-sizing: border-box; 
}
.productCard {
    width: 23.5%;
    border-radius: 10px;
    max-height: 20%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.productCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.productImage{
    position: relative;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0px 0px;
}
.productImage img{
   width: 90%;
   transform: translateX(6%);
}
.productTitle{
    font-family: poppins; 
    border-left: 0.1px solid #003f5a;   
    border-right: 0.1px solid #003f5a;    
}
.productTitle h4{
    margin: 0;
    margin-left: 5%;
}
.productRating{
    display: flex;
    gap: 2%;
    border-left: 0.1px solid #003f5a;   
    border-right: 0.1px solid #003f5a;
}
.productRating p{
    font-size: 13px;
    color: gray;
    margin-top: 6%;
    margin: 3%;
    margin-left: 0;
}
.productRating img{
    margin-left: 5%;
    width: 8%;
    height: 5%;
    transform: translateY(30%);
}
.productPrice{    
    border-left: 0.1px solid #003f5a;   
    border-right: 0.1px solid #003f5a;
}

.productPrice p{
    color:#003f5a;
    margin: 0;
    font-size: 15px;
    margin-left: 5%;
}
.productPrice s{
    color: gray;
}
.productBtns{
    text-align: center;
    margin: 0;    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 0.1px solid #003f5a;   
    border-right: 0.1px solid #003f5a;
    border-bottom: 0.1px solid #003f5a;
}
.btnCompra{
    color: white;
    background-color: #003f5a;
    border-radius: 4px;
    border: none;
    padding: 6px;
    width: 75%;
    margin-bottom: 5%;
    font-size: 12px;
}
.btnCarrito{
    border: none;
    transform: translateY(19%);
    max-width: 30%;
    margin-top: 5%;
}
.btnCarrito img{
    padding: 0;
    width: 100%;
    height: auto;
}
.section4{
    background-color: #003f5a;
    margin-top: 3%;
    text-align: center;
    display: flex;
}
