.seccion1{    
    width: 100%;
    padding: 0;    
    display: flex;
    font-family: poppins;    
    background-color: #ebd9c8;
    justify-content: center;
    background-image: url("../images/prueba.png");
    background-size: 70% ;
    background-position: center;
    background-repeat: no-repeat;    
    margin-top: 140px;    
}

.divConsejos{
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center; 
    gap: 20px;  
    padding: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.divConsejos:hover {
    transform: scale(1.05);
    
}
.divConsejos img{
    width: 60px;
    height: 60px;
}
.divConsejos h1{
    font-family: flame;
    font-size: medium;
    color: rgba(26, 21, 21, 0.89);
    text-align: end;
    margin: 0;
}
.divConsejosPhone{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center; 
    gap: 20px;  
    padding: 50px;      
}
.divConsejosPhone p{
    font-size: 18spx;    
}

.divConsejosPhone img{
    width: 60px;
    height: 60px;
}
.divConsejosPhone h1{
    font-family: 'Flame', sans-serif;
    font-size: x-large;
    color: rgba(26, 21, 21, 0.89);
    text-align: end;
    margin: 0;
}/*
.divConsejosPhone2{
    max-width: 50%;
    height: auto;
    display: flex;
    align-items: center; 
    gap: 20px;  
    padding: 50px;    
}
.divConsejosPhone2 p{
    font-size: 18spx;    
}

.divConsejosPhone2 img{
    width: 60px;
    height: 60px;
}
.divConsejosPhone2 h1{
    font-family: flame regular ;
    font-size: x-large;
    color: rgba(26, 21, 21, 0.89);
    text-align: end;
    margin: 0;
}*/
.textoConsejos p{
    font-size: 16px;
    max-width: 200px;
    max-width: 700px;
    font-size: small;
    text-align: right;
    margin: 0;       
}
.textoConsejosPhone{
    text-align: left;
}
.textoConsejosPhone h1{
    text-align: left;
}
.textoConsejosRight h1{
    font-family: 'Flame', sans-serif;
    font-size: medium;
    color: rgba(26, 21, 21, 0.89);
    text-align: left;
    margin: 0;
}

.textoConsejosRight p{
    font-size: 16px;
    max-width: 200px;
    max-width: 700px;
    font-size: small;
    text-align: left;
    margin: 0;       
}
.imagenTelefono{
    display: none;
}
.consejosPhoneView {
    display: none; /* O flex, como prefieras */
    overflow: hidden;
    width: 100vw; /* para que solo quepan 2 elementos (2 x 50vw) */
}

.imagenCompu{
    width: 50%;
}
.imgTabletView{
    display: none;
}
.sliderConsejos {
    width: calc(6 * 50vw); /* o 300vw */
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: slide 20s linear infinite;
}

.sliderConsejos li{
    position: relative; 
    width: 50vw; 
    display: flex;
    flex-shrink: 0;
}
@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100vw; }
    45% { margin-left: -100vw; }
    50% { margin-left: -200vw; }
    70% { margin-left: -200vw; }
    75% { margin-left: -100vw; } /* si quieres volver */
    100% { margin-left: 0; }     /* bucle completo */
}


  
