.section4{
    width: 100%;  
    height:450px;  
    background: #b2c5cd;
}
.imgPerro{    
    width: 70%;
    height:90%;        
}
.imgPerro img{
    margin-top:4%;
    margin-bottom: 55;
    max-width: 100%;        
    max-height:100%;
}
.containerTexto{
    font-family: Poppins;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;    
    margin-right: 10%;  
    text-align: left;
}
.containerTexto h1{
    color: #003f5a; 
    text-align: left;    
}
.containerTexto p{
    color: #007A7A; 
    text-align: left;
    font-size: 94%;
}

#btnBuscarBlog{
    background:#007A7A; 
    border-radius: 5px;
    padding: 10px;
    font-family: poppins;
    color: white;
    border: none;
    width:50%;   
       cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}
#btnBuscarBlog:hover{
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #de6600;
}
