
body{
    margin: 0;
    align-items: center;
}

@media (max-width:768px){    
    .seccion1{
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }
    
    .imagenSeccion1{
        width: 100%;
        height: auto;
    }
    .seccionProducts{  
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 0 5%;
    }
    .seccionProducts > .productCard { 
        width: 40%;
    }
    .section4{
        width: 50%;
    }
}



