
html, body{
    margin: 0;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

@media (max-width:768px){ 
    .medio{
        gap: 0px !important;
    }
    .logoNav{
        width: 40% !important;        
    }
    .navDiv{
        font-size: 0%;
    }
    .seccion1{
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }
    .DivSec2{
        display: none;
    }
    .LstDivSec2{
        display: none;
    }
    .imagenSeccion1{
        width: 100%;
        height: auto;
    }
    .seccionProducts{  
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 0 5%;
    }
    .seccionProducts > .productCard { 
        width: 40%;
    }
    .imgPerro{
        display: none;
    }
    .containerTexto{
        font-size: 13px;
        margin-left: 25%;
    }
    .btnCarrito{
        display: none;
    }
    .buscador{
        display: none;
    }
    #btnBuscar{
        background: #ebd9c8 !important;    
    }
    #btnBuscar img{ 
        margin-top: 15px !important;       
        width: 90% !important;
    }
}



