
html, body{
    margin: 0px;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

@media (max-width:768px){ 
    .medio{
        gap: 0px !important;
    }
    .logoNav{
        width: 40% !important;        
    }
    .navDiv{
        font-size: 0%;
    }
    .seccion1{
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }
    .DivSec2{
        display: none;
    }
    .LstDivSec2{
        display: none;
    }
    .imagenSeccion1{
        width: 100%;
        height: auto;
    }
    .seccionProducts{  
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 0 5%;
    }
    .seccionProducts > .productCard { 
        width: 40%;
    }
    .section4{        
        flex-direction: column;
    }  
    .imgPerro{        
        width: 50% !important;
        margin-left: 30%;
        margin-top: 5%;
    }
    .btnCarrito{
        display: none;
    }
    .buscador{
        display: none;
    }
    #btnBuscar{
        background: #ebd9c8 !important;    
    }
    #btnBuscar img{ 
        margin-top: 15px !important;       
        width: 100% !important;
    }
    .containerTexto{
        position: absolute;
        transform: translateY(120%);
        margin-top: 0% !important;
        font-size: 12px;
        width: 90% !important;
        margin-left: 5%;        
    }
    #btnBuscarBlog{
        width:90% !important;    
    }
    .containerServicios{
        flex-direction: column;        
    }
    .divServicios{
        width: 100% !important;
        text-align: center;
    }
    .divServicios p{
        color: #003F5A;
        width: 100% !important;
        font-size: 30px !important;
    }
    .divButton{        
        width: 100% !important;
        text-align: center !important;
    }
    .btnServicios{
        margin: 0px 0px 8% 0px !important;
    }
    .esteticaCard{
        width: 90% !important;
        margin-left: 4%;
        margin-bottom: 10%;
    }
    .containerEstetica{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px !important; 
    }
    #btnCarrusel{
        display: none !important;
    }
    .containerCuidador{
        flex-direction: column;
    }
    .divCuidador img{
        width: 70%;
        object-fit: contain;
        margin-left: 80% !important;
    }
    .divCuidadorText{
        width: 100% !important;
        margin: 0px 0px 0px 0px !important;
        text-align: center !important;   
    }
    .divCuidadorText h1, p{
        margin: 0;
    }    
    .containerNaranja{
        width: 80%;
        margin-left: 10%; 
        border-radius: 10px;
        height: 30%; 
    }
    .divTextoRegistro p{  
        margin-left: 2% !important;  
        margin-top: 9%;    
        font-size: 70% !important;
    }
    .divIngresa{
        height:40% !important;        
        padding:8px;    
        margin-top: 3% !important;        
    }
    .inputRegistra{
        height: 90% !important;
        font-size: 70%;
    }
    .btnSuscribirse{                
        height: 100% !important;   
        font-size: 50%;
    }

  
    
    
}



